<section class='flex gap-x-8 justify-center items-center '>
  <div class='[&>p]:mb-4 [&>p]:text-pretty [&>p>strong]:text-sky-400/90 [&>p>strong]:font-semibold'>
    <p >
      Mi nombre es Hemerson Ballen, aunque soy mejor conocido simplemente como Heme. Estoy ubicado en Bogotá, Colombia. Soy estudiante de <strong>Ingenieria de Sistemas</strong>. En el 2016 cuando, buscaba crear videojuegos, me tope con el lenguaje Java, donde realicé mis primeros pasos en el mundillo de la programación. 
    </p>
    <p >
      Desde entonces, y tras enamorarme de JavaScript y su entorno, centre mi vista en la parte del Backend. Me fascina el poder estructurar la interacción de la información, el tratamiento de datos, la lógica que se aplica tras bambalinas y la manera en la que estos datos han de ser almacenados.
    </p>

    <p>
      Durante este tiempo he logrado desarrollar y diseñar <strong>E-commerces</strong>, <strong>Apis REST</strong>, <strong>Bases De Datos SQL</strong> e inclusive <strong>Videojuegos</strong> con la ayuda de Godot. Y aún así me falta mucho por aprender, cosa que no para de emocionarme...
    </p>
  </div>
  <div class='flex w-[200%] items-center justify-center'>
    <img src='/profile_photo.jpeg' alt="Hemerson Ballen" class='order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 '/>
  </div>
  
</section>

